pyrofork==2.3.43
tgcrypto
pymongo==4.8.0
motor==3.5.1
marshmallow==3.18.0
umongo==3.1.0
git+https://github.com/Joelkb/cinemagoer
search_engine_parser
wget
aiofiles
ffmpeg-python
requests
aiohttp
telegraph
ujson
pytz
dnspython==2.3.0
speedtest-cli
shortzy
fuzzywuzzy
python-Levenshtein
python-dotenv
humanize
Pillow
psutil
apscheduler
pyromod
colorama
jinja2
